$color1: #ABA989;

$color2: #464636;
$color2-1:#202020;

$color3: #E96000;
$color3-1: #FF8922;
$color3-2: #8C4302;
$color3-3: #D96907;

$color4: #f3c223;
$color4-1: #A89351;
$color4-2:#CCB874;

$color5: #FFFFFF;

$color6: #00748C;
$color6-1:#07B4D9;

$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee